<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ui.nativeapm.PONativeAlternativePaymentMethodActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ProcessOut.Default" />

        <activity android:name="com.processout.processout_sdk.TestActivity" />
    </application>

</manifest>
