<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ui.nativeapm.PONativeAlternativePaymentMethodActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.ProcessOut.Default" />

        <activity
            android:name=".ui.web.customtab.POCustomTabAuthorizationActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard|keyboardHidden|uiMode|colorMode|density|fontScale|fontWeightAdjustment|layoutDirection|locale"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/Theme.ProcessOut.Base.Transparent" />

        <activity
            android:name=".ui.web.customtab.POCustomTabRedirectActivity"
            android:exported="true"
            android:theme="@style/Theme.ProcessOut.Base.Transparent">
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="processout"
                    android:pathPrefix="/return"
                    android:scheme="${applicationId}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.web.webview.POWebViewAuthorizationActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard|keyboardHidden|uiMode|colorMode|density|fontScale|fontWeightAdjustment|layoutDirection|locale"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.ProcessOut.Base.Transparent" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

</manifest>
