<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application>
        <activity
            android:name=".checkout.DynamicCheckoutActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.ProcessOut.Compose" />

        <activity
            android:name=".napm.NativeAlternativePaymentActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.ProcessOut.BottomSheet" />

        <activity
            android:name=".card.tokenization.CardTokenizationActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.ProcessOut.BottomSheet" />

        <activity
            android:name=".card.update.CardUpdateActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.ProcessOut.BottomSheet" />

        <activity
            android:name=".savedpaymentmethods.SavedPaymentMethodsActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.ProcessOut.BottomSheet" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>
