name: Netcetera - Publish To Maven Central
on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  netcetera-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Build
        run: ./gradlew :netcetera-3ds-core:assembleProductionRelease
        env:
          NETCETERA_API_KEY: ${{ secrets.NETCETERA_API_KEY }}

      - name: Publish To Maven Central
        run: ./gradlew :netcetera-3ds-core:publishProductionReleasePublicationToSonatypeRepository closeAndReleaseSonatypeStagingRepository --max-workers=1
        env:
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_STAGING_PROFILE_ID: ${{ secrets.SONATYPE_STAGING_PROFILE_ID }}
          SIGNING_KEY_ID: ${{ secrets.SIGNING_KEY_ID }}
          SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
          DEVELOPER_ID: ${{ secrets.DEVELOPER_ID }}
          DEVELOPER_NAME: ${{ secrets.DEVELOPER_NAME }}
          DEVELOPER_EMAIL: ${{ secrets.DEVELOPER_EMAIL }}
